kjvbible_x10.txt
cpuprofile
simple-go
optimized-go
parallel-go
simple-c
optimized-c
simple-cpp
optimized-cpp
simple-cs
simple-cr
simple-nim
optimized-nim
simple-swift
simple-d
simple-d.o
optimized-d
optimized-d.o
simple-ml
simple.cmi
simple.cmx
simple.o
optimized-ml
optimized.cmi
optimized.cmx
optimized.o
simple-kotlin.jar
simple-zig
optimized-zig
zig-cache
/.idea
java/*.class
simple-cl
simple-pas
haskell/.stack-work/
haskell/simple-exe
haskell/stack.yaml.lock
